# ===========================
# Dependencies
# ===========================
**/node_modules/

# ===========================
# Environment Files
# ===========================
**/.env
**/.env.local

# ===========================
# Build
# ===========================
**/dist/
**/build/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# VS Code
# ===========================
.vscode/
.idea/

# ===========================
# OS Files
# ===========================
.DS_Store
Thumbs.db